# Lesson 3 Practice: Pandas Part 1

Use this notebook to follow along with the lesson in the corresponding lesson notebook: [L03-Pandas_Part1-Lesson.ipynb](./L03-Pandas_Part1-Lesson.ipynb).

## Instructions
Follow along with the teaching material in the lesson. Throughout the tutorial sections labeled as "Tasks" are interspersed and indicated with the icon: ![Task](http://icons.iconarchive.com/icons/sbstnblnd/plateau/16/Apps-gnome-info-icon.png). You should follow the instructions provided in these sections by performing them in the practice notebook.  When the tutorial is completed you can turn in the final practice notebook. For each task, use the cell below it to write and test your code.  You may add additional cells for any task as needed or desired.

## Task 1a: Setup

+ `numpy` as `np`
+ `pandas` as `pd`

In [2]:
import numpy as np
import pandas as pd

## Task 2a Create a `pd.Series` object

+ Create a series of your own design.

In [3]:
a = pd.Series([100, 300, 500, np.nan, 600, 800])
a

0    100.0
1    300.0
2    500.0
3      NaN
4    600.0
5    800.0
dtype: float64

## Task 2b: Creating a DataFrame

+ Create a pd.DataFrame object from a Python dictionary. Design the data as you like.

In [4]:
a = pd.DataFrame(
    {'alpha': [0, 100, 200, 300, 400],
     'beta': ['a', 'b', 'c', 'd', 'e']})
a

   alpha beta
0      0    a
1    100    b
2    200    c
3    300    d
4    400    e

## Task 2c: Create DataFrame with labels

+ Create a 10x5 dataframe of random numeric integers that follow a [Guassian (normal) Distribution](https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.random.normal.html). 
  + Center the distrubtion at 0.85.
  + We will use these values as assumed grades for a class of students
+ Adjust the row indexes to be the names of hypothetical students.
+ Adjust the columsn to be the names of hypothetical projects, homework, exam names, etc.

In [5]:
a = pd.DataFrame(np.random.randn(10, 5))
a

          0         1         2         3         4
0 -0.395433 -0.644903  0.348788 -0.234951  0.691465
1 -0.673871 -0.006584  0.255551  0.586669  0.827649
2  0.122211  0.085138  0.615335 -0.754301 -0.926194
3  0.886139  1.153255  0.240058  0.326069 -0.707653
4  0.247265  0.452729 -0.644961  2.222383 -0.468354
5  0.242420 -1.322798 -1.579963 -0.548847 -2.191619
6 -1.603380 -0.715022  1.197761  0.331215  0.228622
7 -0.534364 -1.313971  1.862236 -0.397596 -0.084876
8  1.062304  0.566097  0.416152 -1.262490  0.350966
9  1.607662 -1.397482  1.054987  0.238661  1.870344

## Task 3a: Import the iris.csv file

+ Import the iris dataset.
+ Take a look at the `pd.read_csv` online documentation. Write example code in a Markup cell for how you would import this file if it were tab-delimited.

In [6]:
a = pd.read_csv('data/iris.csv')

FileNotFoundError: File b'data/iris.csv' does not exist

In [7]:
import numpy as np
import pandas as pd
import csv
a = pd.read_csv('data/iris.csv')

FileNotFoundError: File b'data/iris.csv' does not exist

## Task 4a: Explore Data

 + Use `head`, `tail` and `sample` with the iris dataset.
 + Do the same with the dataset you created in task 2c.

In [8]:
a = pd.DataFrame(np.random.randn(10, 5))
a.head(10)
print(a)
a.tail(10)
print(a)
a.sample(10)
print(a)

          0         1         2         3         4
0 -0.909660 -0.949271 -1.038022 -0.356737  1.028060
1 -1.027807  0.775092  0.347869  0.815429  1.307775
2 -0.868843 -0.016119  2.055492 -0.193197 -0.381218
3  0.417413 -0.043906 -0.059228  0.486961  1.660936
4  0.018327 -1.331719 -0.984733 -0.460820 -1.047161
5  1.455115  0.112329  0.890955 -2.614941 -1.143586
6  0.480309  0.373962 -1.075949 -0.173269  1.344434
7 -0.144983  0.387769 -1.373121 -0.493407 -0.962005
8 -0.919295  0.220862 -3.042671  1.115002  0.067699
9 -1.853786  0.346546  0.578267 -1.244121 -0.916646
          0         1         2         3         4
0 -0.909660 -0.949271 -1.038022 -0.356737  1.028060
1 -1.027807  0.775092  0.347869  0.815429  1.307775
2 -0.868843 -0.016119  2.055492 -0.193197 -0.381218
3  0.417413 -0.043906 -0.059228  0.486961  1.660936
4  0.018327 -1.331719 -0.984733 -0.460820 -1.047161
5  1.455115  0.112329  0.890955 -2.614941 -1.143586
6  0.480309  0.373962 -1.075949 -0.173269  1.344434
7 -0.144983  0.387769 -1.373121 -0.493407 -0.962005
8 -0.919295  0.220862 -3.042671  1.115002  0.067699
9 -1.853786  0.346546  0.578267 -1.244121 -0.916646
          0         1         2         3         4
0 -0.909660 -0.949271 -1.038022 -0.356737  1.028060
1 -1.027807  0.775092  0.347869  0.815429  1.307775
2 -0.868843 -0.016119  2.055492 -0.193197 -0.381218
3  0.417413 -0.043906 -0.059228  0.486961  1.660936
4  0.018327 -1.331719 -0.984733 -0.460820 -1.047161
5  1.455115  0.112329  0.890955 -2.614941 -1.143586
6  0.480309  0.373962 -1.075949 -0.173269  1.344434
7 -0.144983  0.387769 -1.373121 -0.493407 -0.962005
8 -0.919295  0.220862 -3.042671  1.115002  0.067699
9 -1.853786  0.346546  0.578267 -1.244121 -0.916646

## Task 5a: Viewing columns and rows

+ Display the columns and indexes of the iris dataset.
+ Do the same with the dataset you created in Task 2c.

In [9]:
a = pd.DataFrame(np.random.randn(10, 5))
a.columns
print(a)
a.index
print(a)

          0         1         2         3         4
0 -0.979149 -0.957133  0.755596 -0.993616  0.957604
1 -0.337818  2.398163 -0.175475  2.033687  1.184451
2 -1.026662  0.403081  0.895745 -1.657597 -1.625985
3 -0.814840 -1.955617  0.307988  1.232438  0.217083
4 -1.168644  0.278588  0.028508 -1.398165 -0.548583
5  2.102003 -0.691243  1.743347  0.837551  1.591661
6  0.881171  0.688036 -2.300765 -1.288483  2.244251
7 -2.493568  0.672692  0.602246 -0.645547  0.960390
8 -1.831882  0.564142  0.415415  0.172333 -0.696768
9 -0.514369  0.458603  1.677752  1.675776  0.042925
          0         1         2         3         4
0 -0.979149 -0.957133  0.755596 -0.993616  0.957604
1 -0.337818  2.398163 -0.175475  2.033687  1.184451
2 -1.026662  0.403081  0.895745 -1.657597 -1.625985
3 -0.814840 -1.955617  0.307988  1.232438  0.217083
4 -1.168644  0.278588  0.028508 -1.398165 -0.548583
5  2.102003 -0.691243  1.743347  0.837551  1.591661
6  0.881171  0.688036 -2.300765 -1.288483  2.244251
7 -2.493568  0.672692  0.602246 -0.645547  0.960390
8 -1.831882  0.564142  0.415415  0.172333 -0.696768
9 -0.514369  0.458603  1.677752  1.675776  0.042925

## Task 5b: Get Values

+ Check the version of `pandas` you have 
+ Use the appropriate method to convert the iris data to a dictionary.
+ Do the same with the dataset you created in Task 2c.

In [10]:
a = pd.DataFrame(np.random.randn(10, 5))
pd.__version__

'0.22.0'

## Task 5c: Using `loc`

+ Use any iris dataframe to:
  + Select a row slice with `loc`.
  + Select a row and column slice with `loc`.
  + Take a look at the [Pandas documentation for the `at` selector](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.at.html). Use what you learn there to select a single item with Pandas `at` accessor.

In [12]:
a = pd.DataFrame(np.random.randn(10, 5))
a.loc[0:5]

          0         1         2         3         4
0 -1.280337  0.249069 -0.754900 -0.049841 -2.798783
1 -0.205340 -0.494015 -0.651814  0.705253  0.763157
2  0.709213  1.446940 -0.560675 -1.090697  1.124362
3  0.022592  0.615905  0.286478  0.845081  1.196790
4  0.179283  0.022000  1.541342  0.042548 -0.792740
5  1.336170 -0.137092 -0.705487 -1.302439 -0.464820

## Task 5d: Using `iloc`

+ Use any iris dataframe to:    
    + Select a row slice with `iloc`.
    + Select a row and column slice with `iloc`.
    + Take a look at the [Pandas documentation for the `iat` selector](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iat.html). Use what you learn there to select a single item with Pandas `iat` accessor.

In [14]:
a = pd.DataFrame(np.random.randn(10, 5))
a.iloc[2:7, :-1]

          0         1         2         3
2 -2.095995  1.556593  0.942428 -0.274970
3 -0.331400  0.744414  0.815275  0.124221
4 -1.098036  0.562690 -2.032494  0.311713
5 -0.708965 -0.688478  0.805836 -0.729965
6  1.754066  1.143819 -0.156625  0.265421

## Task 5e: Boolean Indexing

+ Create subsets of the iris dataset using boolean indexes that:
    + Use one boolean operator.
    + Use two boolean operators.

In [18]:
a = pd.DataFrame(
    {'alpha': [0, 1, 2, 3, 4],
     'beta': [5, 6, 7, 8, 9]})
a > 3.0
a < 3.0

   alpha   beta
0   True  False
1   True  False
2   True  False
3  False  False
4  False  False